<section id="about-us" class="three">
  <div class="about-container container">
    <div class="us-div">
      <div class="exere">
        <h2 class="about">About Us</h2>
        <ul class="ul-pwel">
          <li class="list-pwel">
            <p class="about-text">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
          </li>
          <li class="list-pwel">
            <p class="about-text">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device - it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best?
            </p>
          </li>
        </ul>
      </div>
      <button href="#catalog" class="about-catalog">View catalog</button>
    </div>
    <div class="foto-wrap">
      <picture>
        <source
          srcset="
            ./img/about/desktop-image.png    1x,
            ./img/about/desktop-image@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about/tablet-image.png    1x,
            ./img/about/tablet-image@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about/mobile-image.png    1x,
            ./img/about/mobile-image@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="cloc-cloc"
          src="./img/about/tablet-image.png"
          width="704"
          alt="cloc"
        />
      </picture>
    </div>
  </div>
</section>
