<section class="three">
        <div class="container">
            <div class="us-div">
                <div class="exere">
                    <h2 class="about" id="about-us">About Us</h2>
                    <ul class="ul-pwel">
                        <li class="list-pwel">
                            <p class="pwelcome">Welcome to our premium watch collection, where luxury and style meet
                                functionality and precision.
                                Our selection of
                                timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that
                                you'll
                                always have a reliable
                                and stylish accessory on your wrist.</p>
                        </li>
                        <li>
                            <p class="pwelcome">At our premium watch collection, we believe that a watch is more than
                                just a timekeeping device -
                                it's a statement piece
                                that reflects your personality and style. So why settle for anything less than the best?
                            </p>
                        </li>
                    </ul>
                </div>
                <a class="catalog vcnop" style="vertical-align:middle" href="#catalog"><span>View catalog</span></a>
            </div>
            <div class="foto-cloc">
                <picture>
                    <source srcset="/img/about/desktop-image.png 1x, /img/about/desktop-image@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="/img/about/tablet-image.png.png 1x, /img/about/tablet-image@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="/img/about/mobile-image.png.png 1x, /img/about/mobile-image@2x.png 2x"
                        media="(min-width: 375px)" />
                    <img class="cloc-cloc" src="/img/about/tablet-image.png"   alt="cloc">
                </picture>
            </div>
        </div>
    </section>
