<section id="catalog" class="catalog conteiner">
  <h2 class="catalog-title">Catalog</h2>
  <ul class="catalog-list">
    <li class="catalog-item">
      <picture>
        <source
          srcset="
            ../img/catalog/desktop-watch-01.png    1x,
            ../img/catalog/desktop-watch-01@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/catalog/tablet-watch-01.png    1x,
            ../img/catalog/tablet-watch-01@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/catalog/mobile-watch-01.png    1x,
            ../img/catalog/mobile-watch-01@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/catalog/desktop-watch-01.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          width="292"
          height="292"
        />
      </picture>
      <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
      <p class="catalog-price">€500</p>
    </li>
    <li class="catalog-item">
      <picture>
        <source
          srcset="
            ../img/catalog/desktop-watch-02.png    1x,
            ../img/catalog/desktop-watch-02@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/catalog/tablet-watch-02.png    1x,
            ../img/catalog/tablet-watch-02@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/catalog/mobile-watch-02.png    1x,
            ../img/catalog/mobile-watch-02@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/catalog/desktop-watch-02.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          width="292"
          height="292"
        />
      </picture>
      <p class="catalog-text">Garmin Marq Athlete</p>
      <p class="catalog-price">€450</p>
    </li>
    <li class="catalog-item">
      <picture>
        <source
          srcset="
            ../img/catalog/desktop-watch-03.png    1x,
            ../img/catalog/desktop-watch-03@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/catalog/tablet-watch-03.png    1x,
            ../img/catalog/tablet-watch-03@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/catalog/mobile-watch-03.png    1x,
            ../img/catalog/mobile-watch-03@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/catalog/desktop-watch-03.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          width="292"
          height="292"
        />
      </picture>
      <p class="catalog-text">Garmin Descent MK1</p>
      <p class="catalog-price">€680</p>
    </li>
    <li class="catalog-item">
      <picture>
        <source
          srcset="
            ../img/catalog/desktop-watch-04.png    1x,
            ../img/catalog/desktop-watch-04@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/catalog/tablet-watch-04.png    1x,
            ../img/catalog/tablet-watch-04@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/catalog/mobile-watch-04.png    1x,
            ../img/catalog/mobile-watch-04@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/catalog/desktop-watch-04.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          width="292"
          height="292"
        />
      </picture>
      <p class="catalog-text">Garmin D2 Delta PX</p>
      <p class="catalog-price">€380</p>
    </li>
    <div class="catalog-item-non">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop-watch-05.png    1x,
              ../img/catalog/desktop-watch-05@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet-watch-05.png    1x,
              ../img/catalog/tablet-watch-05@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="../img/catalog/desktop-watch-05.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="292"
            height="292"
          />
        </picture>
        <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
        <p class="catalog-price">€400</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop-watch-06.png    1x,
              ../img/catalog/desktop-watch-06@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet-watch-06.png    1x,
              ../img/catalog/tablet-watch-06@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="../img/catalog/desktop-watch-06.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="292"
            height="292"
          />
        </picture>
        <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
        <p class="catalog-price">€395</p>
      </li>
    </div>
  </ul>
  <button type="button" class="catalog-btn">
    <span class="catalog-btn-mob">Show more</span>
  </button>
</section>
