<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="
            ./img/rewiews/john-wax.png    1x,
            ./img/rewiews/john-wax@2x.png 2x
          "
          src="./img/rewiews/john-wax.png"
          alt="John Wax"
          width="56"
          height="56"
          class="reviews-item-img"
        />
        <h3 class="reviews-item-subtitle">John Wax</h3>
        <p class="reviews-item-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item reviews-item-tablet">
        <img
          srcset="
            ./img/rewiews/victoria-romashenko.png    1x,
            ./img/rewiews/victoria-romashenko@2x.png 2x
          "
          src="./img/rewiews/victoria-romashenko.png"
          alt="Victoria Romashenko"
          width="56"
          height="56"
          class="reviews-item-img"
        />
        <h3 class="reviews-item-subtitle">Victoria Romashenko</h3>
        <p class="reviews-item-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item reviews-item-desktop">
        <img
          srcset="
            ./img/rewiews/anastasia-trachuk.png    1x,
            ./img/rewiews/anastasia-trachuk@2x.png 2x
          "
          src="./img/rewiews/anastasia-trachuk.png"
          alt="Anastasia Trachuk"
          width="56"
          height="56"
          class="reviews-item-img"
        />
        <h3 class="reviews-item-subtitle">Anastasia Trachuk</h3>
        <p class="reviews-item-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
