<section class="container-sale" id="sale-section">
  <div class="container">
    <h2 class="title-sale">Sale</h2>

    <div class="box-sale">
      <div class="container-watch-sale">
        <ul class="watch-ul-sale">
          <li class="watch-li-sale">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-01.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-01@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-01.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-01@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale/mobile-mini-watch-01.png    1x,
                  ./img/sale/mobile-mini-watch-01@2x.png 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="./img/sale/tablet-desktop-mini-watch-01.png"
                alt="watch 1"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="watch-li-sale">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-02.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-02@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-02.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-02@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale/mobile-mini-watch-02.png    1x,
                  ./img/sale/mobile-mini-watch-02@2x.png 2x
                "
                media="(max-width:767px)"
              />

              <img
                src=" ./img/sale/tablet-desktop-mini-watch-02.png"
                alt="watch 2"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="watch-li-sale">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-03.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-03@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-03.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-03@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale/mobile-mini-watch-03.png    1x,
                  ./img/sale/mobile-mini-watch-03@2x.png 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="./img/sale/tablet-desktop-mini-watch-03.png"
                alt="watch 3"
                width="96"
                height="100"
              />
            </picture>
          </li>

          <li class="watch-li-sale">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-04.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-04@2x.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/sale/tablet-desktop-mini-watch-04.png    1x,
                  ./img/sale/tablet-desktop-mini-watch-04@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale/mobile-mini-watch-04.png    1x,
                  ./img/sale/mobile-mini-watch-04@2x.png 2x
                "
                media="(max-width:767px)"
              />

              <img
                src="./img/sale/tablet-desktop-mini-watch-04.png"
                alt="watch 4"
                width="96"
                height="100"
              />
            </picture>
          </li>
        </ul>
        <div class="watch-li-main-sale">
          <picture>
            <source
              srcset="
                ./img/sale/tablet-desktop-big-watch.png    1x,
                ./img/sale/tablet-desktop-big-watch@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tablet-desktop-big-watch.png    1x,
                ./img/sale/tablet-desktop-big-watch@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mobile-big-watch.png,
                ./img/sale/mobile-big-watch@2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./img/sale/tablet-desktop-big-watch.png"
              alt="Main watch"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>

      <div class="information-sale">
        <div class="container-information-sale">
          <h2 class="title-information-sale">
            MARQ&#174; Commander (Gen 2) - Carbon Edition
          </h2>
          <p class="tag-sale">Product tag: 706587</p>
        </div>

        <div class="price-sale">
          <p class="price-text-sale">€1500</p>

          <p class="price-text-two-sale">€3000</p>
        </div>

        <p class="text-information-sale">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="features-ul-sale">
          <li class="features-li-sale">
            <p class="features-text-sale">Fused carbon fiber</p>
          </li>

          <li class="features-li-sale">
            <p class="features-text-sale">Grade-5 Titanuim</p>
          </li>

          <li class="features-li-sale">
            <p class="features-text-sale">Athlete</p>
          </li>

          <li class="features-li-sale">
            <p class="features-text-sale">Golfer</p>
          </li>

          <li class="features-li-sale">
            <p class="features-text-sale">Commander</p>
          </li>

          <li class="features-li-sale">
            <p class="features-text-sale">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
