@media only screen and (min-width: 375px) {
  .about {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    gap: 28px;
  }

  .conteiner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cloc-cloc {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .exere {
    padding: 40px 20px;
    width: 100%;
    height: 100%;
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .us-div {
    border-radius: 30px;
    max-width: 100%;
    background: #f3f3f3;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .catalog {
    display: inline-block;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .catalog span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .catalog span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .catalog:hover span {
    padding-right: 25px;
  }

  .catalog:hover span:after {
    opacity: 1;
    right: 0;
  }

  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }

  .button {
    padding-left: 20px;
  }

  .ul-pwel {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .about {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
  .conteiner {
    padding-left: 32px;
    padding-right: 32px;
  }

  .cloc-cloc {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul-pwel {
    padding: 0;
  }
  .us-div {
    border-radius: 30px;
    /* width: 100%;
    height: 100%; */
    background: #f3f3f3;
    margin-bottom: 40px;
  }

  .catalog {
    cursor: pointer;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 80px;
    margin-bottom: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  .catalog span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .catalog span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .catalog:hover span {
    padding-right: 25px;
  }

  .catalog:hover span:after {
    opacity: 1;
    right: 0;
  }

  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }
  .exere {
    padding: 60px 80px;
    width: 100%;
    height: 100%;
  }
  .catalog:hover {
    background: #1f3cd4;
  }
  .catalog:first {
    background: #1f3cd4;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
  }

  .cloc-cloc {
    display: block;
    /* max-width: 100%;
    height: auto; */
    width: 532px;
    height: 530px;
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .ul-pwel {
    padding: 0;
  }

  .us-div {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
  }

  .catalog:hover {
    background: #1f3cd4;
  }
  .catalog:first {
    background: #1f3cd4;
  }

  .catalog {
    cursor: pointer;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 60px;
    margin-bottom: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .catalog span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .catalog span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .catalog:hover span {
    padding-right: 25px;
  }

  .catalog:hover span:after {
    opacity: 1;
    right: 0;
  }

  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }

  .three .section {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 20px;
    gap: 40px;
    display: flex;
  }

  .exere {
    padding: 60px 60px 40px 60px;
  }
  .conteiner {
    display: flex;
    gap: 40px;
    padding-left: 65px;
    padding-right: 65px;
  }
}
