@media (min-width: 320px) and (max-width: 375px) {
  .about {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    gap: 28px;
  }
  /* .foto-cloc {
    background-image: url('/proekt-16/mobi/Rectangle\(1x\)mobi.png');
    width: 335px;
    height: 446px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
  }
  img {
    display: block;
    /* max-width: 100%;
    height: auto; */
    width: 335px;
    height: 446px;
}
  
  .exere {
    padding: 40px 20px;
  }

  /* @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 320px) (min-resolution: 2dppx) {
    .foto-cloc {
      background-image: url("/proekt-16/mobi/Rectangle\(2x\)mobi.png");
      background-size: cover;
    } */

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .us-div {
    border-radius: 30px;
    width: 100%;
    background: #f3f3f3;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .catalog {
    display: inline-block;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }

  .button {
    padding-left: 20px;
  }

  .three {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ul-pwel {
    padding: 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .about {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
  /* .foto-cloc {
    background-image: url('/proekt-16/tab/Rectangle\(1\)x-tab.png');
    width: 704px;
    height: 512px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
  img {
    display: block;
    /* max-width: 100%;
    height: auto; */
    width: 704px;
    height: 512px;
}

  /* @media screen and (-webkit-min-device-pixel-ratio: 1),
  (min-resolution: 320px),
  (min-resolution: 2dppx) {
  .foto-cloc {
    background-image:
      url("/proekt-16/tab/Rectangle\(1\)x-tab.png");
    background-size: cover;
  } */

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul-pwel {
    padding: 0;
  }
  .us-div {
    border-radius: 30px;
    /* width: 100%;
    height: 100%; */
    background: #f3f3f3;
    margin-bottom: 40px;
  }

  .catalog {
    cursor: pointer;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 80px;
    margin-bottom: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }

  .three {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
  }

  .exere {
    padding: 60px 80px;
  }
  .catalog:hover {
    background: #1f3cd4;
  }
  .catalog:first {
    background: #1f3cd4;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .about {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
  }
  /* .foto-cloc {
    background-image: url('/proekt-16/desc/Rectangle\(1\)x-desc.png');
    width: 530px;
    height: 532px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
   */
    img {
    display: block;
    /* max-width: 100%;
    height: auto; */
    width: 530px;
    height: 532px;
}


  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul-pwel {
    padding: 0;
  }

  .us-div {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
  }

  .catalog:hover {
    background: #1f3cd4;
  }
  .catalog:first {
    background: #1f3cd4;
  }

  .catalog {
    cursor: pointer;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    margin-left: 60px;
    margin-bottom: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .vcnop {
    color: #fbfbfb;
    text-decoration: none;
  }

  .three .section {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 20px;
    gap: 40px;
    display: flex;
  }

  .exere {
    padding: 60px 60px 40px 60px;
  }
  .conteiner {
    display: flex;
    gap: 40px;
    padding-left: 65px;
    padding-right: 65px;
  }
}