.footer-container {
	margin-top: 50px;
	margin-bottom: 32px;
	background: #0c0c0c;
	border-radius: 30px;
	padding: 40px 28px 28px 28px;
	
}

.footer-box-one {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-logo {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: -0.02em;
	color: #fbfbfb;
}

.footer-social-box {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.footer-social-list {
	border: 1px solid rgba(251, 251, 251, 0.1);
	border-radius: 10px;
	width: 34px;
	height: 34px;
}

.footer-svg {
	fill: #fbfbfb;
}
.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	opacity: 0.8;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, :focus {
	opacity: 1;
}

.footer-tel-wrap {
	border: 1px solid rgba(251, 251, 251, 0.2);
	border-radius: 16px;
	width: 152px;
	height: 44px;
	margin-bottom: 40px;
	margin-top: 20px;
	padding: 14px 20px;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}

.footer-tel {
	width: 112px;
	display: flex;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.33;
	text-transform: uppercase;
	text-align: center;
	color: #fbfbfb;
}

.footer-tel-wrap:hover, :focus {
	opacity: 0.8;
}

.footer-text {
	display: flex;
	max-width: 100%;
	width: 279px;
	height: 96px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	text-align: center;
	color: #fbfbfb;
}

.footer-box-two {
	margin-top: 100px;
	width: 100%;
}

.footer-nav-wrap {
	display: flex;
	justify-content: space-between;
}

.footer-box-nav {
	width: 147px;
}

.footer-nav-lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px 16px;
}

.footer-nav-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.33;
	text-align: center;
	color: #fbfbfb;
	padding: 9px 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-text:hover, :focus {
opacity: 0.8;
}

.footer-address {
	display: flex;
	flex-wrap: wrap;
	max-width: 83px;
	padding-bottom: 16px;
	margin-left: 49px;
}

.footer-address-text {
	font-style: normal;
	display: flex;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.33;
	color: #fbfbfb;
	justify-content: flex-start;
}

.footer-vector {
	width: 100%;
	height: 1px;
	stroke-width: 1px;
	stroke: rgba(251, 251, 251, 0.1);
	stroke-width: 3px;
	background-color: #fbfbfb;
	opacity: 0.1;
	margin: 24px 0;
}

.footer-privacy {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	row-gap: 8px;
}

.footer-privacy-text {
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: -0.02em;
	color: rgba(251, 251, 251, 0.5);
	opacity: 0.9;
}

.footer-privacy-box {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.footer-privacy-text-two {
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: -0.02em;
	text-align: right;
	color: rgba(251, 251, 251, 0.5);
}

/* ///---@media screen---/// */

@media screen and (min-width: 768px) {

	.footer-container {
		border-radius: 30px;
		padding: 40px 40px 28px 40px;
		width: 704px;
	}

	.footer-first {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer-section-one {
		display: flex;
		justify-content: space-between;
		margin-bottom: 86px;
	}

	.footer-logo {
		font-size: 20px;
	}

	.footer-social-list {
		width: 36px;
		height: 36px;
	}

	.footer-tel-wrap {
		width: 160px;
		height: 48px;
		margin-top: 0;
		justify-content: flex-end;
		order: 1;
		float: none;
		padding: 15px;
	}

	.footer-tel {
		width: 130px;
		height: 18px;
		font-size: 14px;
		line-height: 1.28;
		justify-content: center;
	}

	.footer-text {
		width: 524px;
		font-size: 28px;
		line-height: 1.14;
		margin: 86px 50px 100px 50px;
		order: 2;
	}

	.footer-box-two {
		width: 624px;
	}

	.footer-nav-wrap {
		width: 624px;
	}

	.footer-box-nav {
		width: 400px;
	}

	.footer-nav-lists {
		max-width: 400px;
		gap: 19px;
	}

	.footer-nav-text {
		font-size: 14px;
		line-height: 1.28;
	}

	.footer-address {
		max-width: 162px;
	}

	.footer-address-text {
		font-size: 14px;
		line-height: 1.28;
	}

	.footer-vector-wrap {
		width: 624px;
	}

	.footer-vector {
		width: 624px;
		height: 2px;
		margin: 28px 0;
	}

	.footer-privacy {
		max-width: 624px;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-privacy-text {
		font-size: 14px;
		line-height: 1.28;
	}

	.footer-privacy-box {
		width: 204px;
		justify-content: flex-end;
	}

	.footer-privacy-text-two {
		font-size: 14px;
		line-height: 1.28;
		gap: 20px;
	}
}

@media screen and (min-width: 1280px) {
	.footer-container {
		width: 1216px;
		height: 100%;
	}
	.container {
		width: 1216px;
	}
	.footer-first {
		width: 1136px ;
		display: flex;
	}

	.footer-box-one {
		order: 0;
	}

	.footer-text {
		width: 523px;
		order: 1;
		margin: 0;
		justify-content: space-between;
	}

	.footer-tel-wrap {
		width: 160px;
		height: 48px;
		justify-content: center;
		order: 2;
	}

	.footer-box-two {
		width: 1136px;
		margin-top: 126px;
	}

	.footer-nav-wrap {
		width: 1136px;
	}

	.footer-box-nav {
		width: 505px;
	}

	.footer-nav-lists {
		max-width: 505px;
		gap: 40px;
	}

	.footer-vector {
		width: 1136px;
		height: 2px;
		margin: 28px 0;
	}

	.footer-privacy {
		max-width: 1136px;
	}
}