.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
}

.reviews-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.reviews-item {
  padding: 32px 36px;
  background-color: #f3f3f3;
  border-radius: 30px;
  width: 335px;
  height: 262px;
}

.reviews-item-img {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-item-subtitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

.reviews-item.reviews-item-tablet {
  display: none;
}

.reviews-item.reviews-item-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .reviews-title {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }

  .reviews-list {
    display: flex;
    gap: 16px;
  }

  .reviews-item {
    padding: 32px 36px;
    background-color: #f3f3f3;
    border-radius: 30px;
    width: 344px;
    height: 272px;
  }

  .reviews-item.reviews-item-tablet {
    display: block;
  }

  .reviews-item-subtitle {
    font-size: 18px;
    line-height: 110%;
  }

  .reviews-item-text {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reviews-list {
    gap: 20px;
  }

  .reviews-item {
    width: 370px;
  }

  .reviews-item.reviews-item-desktop {
    display: block;
  }
}
